<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product Picture</title>
</head>
<body>
<form action="/productsaveeditpicture" method="post" enctype="multipart/form-data"> {% csrf_token %}
<input type="hidden" name="productid" value="{{row.0}}">
<input type="hidden" name="oldpicture" value="{{row.3}}">
    <center>
  <h3>Edit Product Picture</h3>
  <h4>Product Name :  {{row.1}}</h4>
  <div>
    <img src="/static/{{row.2}}" width="30%">
  </div>
  <div>
    <b>Select Image You want to Replace</b>
  </div>
  <div>
        <input type="file" required name="picture">
        <input type="submit" value="Save Picture">

  </div>
</center>
</form>
</body>
</html>